body{
    font-weight: 400;
    font-family: Poppins, sans-serif;
    line-height: 1.75em;
    color: #676977;
    font-size: 16px;
    overflow-x: hidden !important
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
}
img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    color: #f4f5f8
}

.logo-img {
    width: 120px;

}
.dropdown-item span {
    display: block;
    cursor: pointer
}

.dropdown-menu,
.sub-menu {
    display: block;   
    width: 200px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 0;
    transition: .3s
}

.dropdown-menu .dropdown-item,
.sub-menu .dropdown-item {
    padding: 7px 8px;
    font-size: 15px;
    font-weight: 400;
    color: #0f2454;
    position: relative;  
    border-bottom: 1px solid #f4f5f8;
    background-color: transparent
}


.dropdown-menu .dropdown-item:hover,
.sub-menu .dropdown-item:hover {
    background: #25aae1;
    padding-left: 20px;
    color: #fff;
    border-radius: 10px
}




